[SddmGreeterTheme]
Name=Big-Pic
Description=Utterly-Swee SDDM theme
Author=Himprakash Deka / Marian Alexander Arlt / trailjeep
License=GPL-2.0+
Type=sddm-theme
Version=1.0
Website=https://github.com/trailjeep/Big-Pic-SDDM-Theme
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=
Theme-Id=Big-Pic
Theme-API=2.0
